body{
    margin: 20px;
    background-color: #f8f8f8;
}

h1{
    margin-bottom: 50px;
}

.product_card{
    width: 90%;
    padding: 15px 10px;
    margin: 20px auto;
    background-color: #eeeeee;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.product{
    display: flex;
    flex-flow: row;
    justify-content: start;
    align-items: center;
}

.product img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-right: 20px;
}

.product h4{
    margin-right: 20px;
}

.product_card button{
    margin-right: 20px;
    padding: 7px 18px;
    background-color: #007fbb;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transform: translateY(80px);
}

.product_card button:hover{
    background-color: #13709a;
}

.button_container{
    display: flex;
    position: fixed;
    top: 20px;
    right: 15px;
}

.home_button{
    padding: 7px 18px;
    background-color: #007fbb;
    border: 1px solid #13709a;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}

.home_button:hover{
    background-color: #13709a;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
}

.emptycart{
    margin-right: 5px;
    padding: 7px 18px;
    background-color: #007fbb;
    border: 1px solid #13709a;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}

.emptycart:hover{
    background-color: #13709a;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
}